PORT=3000
DB_HOST=localhost
DB_PORT=5431
DB_USER=declay_admin
DB_PASSWORD=hoang20039
DB_NAME=declay_store

JWT_ACCESS_SECRET=declay_store_access_secret
JWT_REFRESH_SECRET=declay_store_refresh_secret
JWT_ACCESS_EXPIRED_IN=15m
JWT_REFRESH_EXPIRED_IN=7d

NODE_ENV=development

REDIS_HOST=localhost
REDIS_PORT=6378
# REDIS_PASSWORD=your_redis_password (optional, only if Redis requires authentication)
REDIS_DB=0
# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback

# Session
SESSION_SECRET=your_session_secret_here_change_in_production